// NORMALIZE
@import 'normalize.css/normalize';

// GOOGLE FONTS
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Raleway:500,700|Roboto+Mono');

// BASE
*, *:before, *:after {
	box-sizing: border-box;
	user-select: none;
}

:root {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 1.25;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	@media (max-width: 1024px) { font-size: 14px; }
	@media (max-width: 700px) { font-size: 12px; }

	// prevent pull-up refresh on mobile
	overscroll-behavior-y: contain;
}

// SVG
#loading {
	display: flex;
	justify-content: center;
	align-items: center;

	background: white;
	position: fixed;
	top: 0; bottom: 0;
	left: 0; right: 0;
	z-index: 10000;

	text-align: center;

	&-title {
		margin-bottom: 0.5rem;
		font-weight: bold;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #7E7E7E;
	}

	&-icon {
		width: 5vw;
		height: auto;
		min-width: 6rem;
	}

	@keyframes loadIn {
		0%, 10% { transform: translateY(0.05em); opacity: 0; }
		30%, 60% { transform: translateY(0); opacity: 1; }
		100% { transform: translateY(-0.15em); opacity: 0; }
	}

	@keyframes head {
		0% { transform: translateY(0); }
		100% { transform: translateY(-0.1em); }
	}

	@keyframes shadow {
		0% { transform: scaleX(1); }
		100% { transform: scaleX(1.15); opacity: 0.5; }
	}

	&-head { animation: head 2s ease-in-out infinite alternate; }
	&-shadow {
		animation: shadow 2s ease-in-out infinite alternate;
		transform-origin: 132px 0;
	}

	&-heart { animation: loadIn 2.5s 0.3s infinite; }
	&-heart-left { animation: loadIn 2.5s infinite; }
	&-heart-right { animation: loadIn 2.5s 0.2s infinite; }
}

#container {
	padding: 3rem 1rem;

	height: 100vh;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#title, #subtitle {
	margin: 0 0 1rem;

	font-family: 'Noto Serif', serif;
	font-size: 2.5rem;
	font-weight: normal;

	text-transform: none;
	color: #C0392B;
}

#instructions {
	@extend #loading-title;
	margin-bottom: 1.5em;
	color: #EB6C5E;
}

#timer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	position: fixed;
	left: 0; right: 0;
	top: 0; bottom: 0;
	z-index: -999;

	#progress-bar {
		position: absolute;
		left: 0;
		top: 0; bottom: 0;

		background: rgba(black, 0.05);
	}

	&-text {
		font-family: 'Roboto Mono';
		font-size: 12rem;
		opacity: 0.075;

		@media (max-width: 1024px) {
			font-size: 25vw;
		}
	}
}

#heart {
	overflow: visible;
	cursor: move;

	box-sizing: content-box;
	padding: 0.5em;
}

#counter {
	margin: 15vh 0 1rem;

	@media (max-width: 500px) {
		margin: 10vh 0 1rem;
	}
}

#cat {
	transform: translateX(-1.5em);
	overflow: visible;
}

// UTILITIES
.button {
	@extend #instructions;
	font-size: 0.75em;
	padding: 1em 2em;
	border-radius: 100px;
	border: none;

	color: white;
	background: #C0392B;
	cursor: pointer;

	@media (max-width: 1024px) { font-size: 1em; }
}

.subtle {
	opacity: 0.5;
}
